<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
    <ion-button class="button button-block button-balanced" (click)="actionsheet()">Action Sheet</ion-button>
    <ion-button class="button button-block button-balanced" (click)="alert()">Alert</ion-button>
    <ion-button class="button button-block button-balanced" (click)="badge()">Badge</ion-button>
    <ion-button class="button button-block button-balanced" (click)="button()">Button</ion-button>
    <ion-button class="button button-block button-balanced" (click)="avatar()">Avatar</ion-button>
    <ion-button class="button button-block button-balanced" (click)="checkbox()">Check Box</ion-button>
    <ion-button class="button button-block button-balanced" (click)="chip()">Chip</ion-button>
    <ion-button class="button button-block button-balanced" (click)="card()">Card</ion-button>
    <ion-button class="button button-block button-balanced" (click)="content()">Content</ion-button>
    <ion-button class="button button-block button-balanced" (click)="datetime()">Date Time</ion-button>
    <ion-button class="button button-block button-balanced" (click)="fabbutton()">Fab Button</ion-button>
    <ion-button class="button button-block button-balanced" (click)="fabcontainer()">Fab Container</ion-button>
    <ion-button class="button button-block button-balanced" (click)="fablist()">Fab List</ion-button>
    <ion-button class="button button-block button-balanced" (click)="footer()">Footer</ion-button>
    <ion-button class="button button-block button-balanced" (click)="grid()">Grid</ion-button>
    <ion-button class="button button-block button-balanced" (click)="header()">Header</ion-button>
    <ion-button class="button button-block button-balanced" (click)="hidewhen()">Hide When</ion-button>
    <ion-button class="button button-block button-balanced" (click)="icon()">Icon</ion-button>
    <ion-button class="button button-block button-balanced" (click)="img()">Image</ion-button>
    <ion-button class="button button-block button-balanced" (click)="infinitescroll()">Infinite Scroll</ion-button>
    <ion-button class="button button-block button-balanced" (click)="input()">Input</ion-button>
    <ion-button class="button button-block button-balanced" (click)="item()">Item</ion-button>
    <ion-button class="button button-block button-balanced" (click)="itemoption()">Item Option</ion-button>
    <ion-button class="button button-block button-balanced" (click)="itemreorder()">Item Reorder</ion-button>
    <ion-button class="button button-block button-balanced" (click)="itemsliding()">Item Sliding</ion-button>
    <ion-button class="button button-block button-balanced" (click)="label()">Label</ion-button>
    <ion-button class="button button-block button-balanced" (click)="ionnote()">Ion Note</ion-button>
    <ion-button class="button button-block button-balanced" (click)="list()">List</ion-button>
    <ion-button class="button button-block button-balanced" (click)="listheader()">List  Header</ion-button>
    <ion-button class="button button-block button-balanced" (click)="listthumbnail()">List  Thumbnail</ion-button>
    <ion-button class="button button-block button-balanced" (click)="loading()">Loading</ion-button>
    <ion-button class="button button-block button-balanced" (click)="menu()">Menu</ion-button>
    <ion-button class="button button-block button-balanced" (click)="menuclose()">Menu Close</ion-button>
    <ion-button class="button button-block button-balanced" (click)="menutoggle()">Menu Toggle</ion-button>
    <ion-button class="button button-block button-balanced" (click)="menusplitpane()">Menu Slpit Pane</ion-button>
    <ion-button class="button button-block button-balanced" (click)="modal()">Modal</ion-button>
    <ion-button class="button button-block button-balanced" (click)="navbar()">Nav Bar</ion-button>
    <ion-button class="button button-block button-balanced" (click)="navpush()">Nav Push</ion-button>
    <ion-button class="button button-block button-balanced" (click)="navpop()">Nav Pop</ion-button>
    <ion-button class="button button-block button-balanced" (click)="note()">Note</ion-button>
    <ion-button class="button button-block button-balanced" (click)="option()">Option</ion-button>
    <ion-button class="button button-block button-balanced" (click)="ionplatform()">Ion Platform</ion-button>
    <ion-button class="button button-block button-balanced" (click)="ionpopover()">Ion Pop Over</ion-button>
    <ion-button class="button button-block button-balanced" (click)="radio()">Radio</ion-button>
    <ion-button class="button button-block button-balanced" (click)="radiogroup()">Radio Group</ion-button>
    <ion-button class="button button-block button-balanced" (click)="range()">Range</ion-button>
    <ion-button class="button button-block button-balanced" (click)="reorder()">Reorder</ion-button>
    <ion-button class="button button-block button-balanced" (click)="scroll()">Scroll</ion-button>
    <ion-button class="button button-block button-balanced" (click)="searchbar()">Search Bar</ion-button>
    <ion-button class="button button-block button-balanced" (click)="segment()">Segment</ion-button>
    <ion-button class="button button-block button-balanced" (click)="segmentbutton()">Segment Button</ion-button>
    <ion-button class="button button-block button-balanced" (click)="select()">Select</ion-button>
    <ion-button class="button button-block button-balanced" (click)="showwhen()">Show When</ion-button>
    <ion-button class="button button-block button-balanced" (click)="slide()">Slide</ion-button>
    <ion-button class="button button-block button-balanced" (click)="slides()">Slides</ion-button>
    <ion-button class="button button-block button-balanced" (click)="spinner()">Spinner</ion-button>
    <ion-button class="button button-block button-balanced" (click)="splitpane()">Split Pane</ion-button>
    <ion-button class="button button-block button-balanced" (click)="tab()">Tab</ion-button>
    <ion-button class="button button-block button-balanced" (click)="thumbnail()">Thumbnail</ion-button>
    <ion-button class="button button-block button-balanced" (click)="title()">Title</ion-button>
    <ion-button class="button button-block button-balanced" (click)="toast()">Toast</ion-button>
    <ion-button class="button button-block button-balanced" (click)="toggle()">Toggle</ion-button>
    <ion-button class="button button-block button-balanced" (click)="toolbar()">Toolbar</ion-button>
    <ion-button class="button button-block button-balanced" (click)="backbutton()">Back Button</ion-button>
    <ion-button class="button button-block button-balanced" (click)="typography()">Typography</ion-button>
    <ion-button class="button button-block button-balanced" (click)="virtualscroll()">Virtual Scroll</ion-button>
</ion-content>
